#Logo {
	max-width: 5rem;
	place-self: center end;
	height: auto;
	will-change: transform;
	overflow: visible;
	grid-column: 2;
	grid-row: 1;
}

@media (prefers-reduced-motion: no-preference) {
	#Logo > circle {
		transform: translate(calc(var(--x, 0) * 1px), calc(var(--y, 0) * 1px));
		transition: transform 1s ease-out;
	}
}

#wrapper {
	opacity: 1;
	transition: opacity 0.25s linear;
	grid-column: 2 / span 1;
}

.transitioning #wrapper {
	opacity: 0;
}

html {
	transition: opacity 0.25s linear;
	font-size: 16px;
	color: transparent;
	opacity: 1;
	font-family: var(--System);
}

html.js {
	opacity: 1;
}

@keyframes loadIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html,
body {
	height: 100%;
	height: -webkit-fill-available;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-family: var(--Font);
	color: transparent;
	transition: color 0.25s linear;
}

.loaded body,
.loaded {
	color: var(--text-color);
}

.no-js body {
	color: var(--text-color);
}

body::before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s linear;
	pointer-events: none;
	z-index: 0;
}

.no-js body::before,
.transitioning body::before {
	opacity: 0;
}

.loaded body::before {
	opacity: 1;
	background-image: linear-gradient(
		calc(var(--gradient-angle, 122deg)),
		var(--gradient-start),
		var(--gradient-end)
	);
}

.loaded.fonts body {
	color: var(--text-color);
}

@media (prefers-contrast: more) {
	body {
		background-image: unset;
		background-color: var(--gradient-end) !important;
	}
	body::before {
		content: unset;
	}
}

main {
	position: relative;
	display: grid;
	grid-template-columns: 1fr clamp(414px, 95vw, 992px) 1fr;
	grid-template-rows: clamp(80px, 15vh, 105px);
	grid-auto-rows: auto;
	height: 100%;
	grid-column-gap: 1vw;
	grid-row-gap: 5vh;
}

#navigation {
	display: grid;
	grid-column: 1 / -1;
	grid: inherit;
	grid-gap: inherit;
	grid-row: 1 / 2;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
	transition: 0.25s background-color ease-out;
	width: 100%;
}

.loaded #navigation {
	background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
	.loaded #navigation {
		/* background-color: rgba(91, 112, 131, 0.1); */
		background-color: var(--black);
	}
}

a {
	transition: text-decoration-color 0.25s ease-out, color 0.25s ease-out,
		border-bottom-color 0.25s ease-out;
	border-bottom-color: transparent;
}

ul {
	padding-left: 0;
	list-style: none;
}

nav {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding-top: 2rem;
}

nav > * {
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	font-family: var(--System);
	color: transparent;
	transition: color 0.25s ease-out;
}

nav > *:first-child {
	padding-left: 0;
	margin-left: 0;
}

nav a {
	color: transparent;
	border-radius: 0.25em;
	text-decoration-color: transparent;
}
.loaded nav > *,
.loaded nav a {
	color: var(--text-color);
}

nav a:hover {
	text-decoration-color: currentColor;
}

nav a:focus {
	background-color: var(--focus);
}

nav a:active:focus {
	text-decoration: unset;
}

nav > .nav-title {
	padding-right: 1rem;
	flex: 0 0 auto;
	width: auto;
}

nav > .nav-items > * {
	margin-right: 1rem;
	line-height: 1.1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	width: 100%;
	line-height: 1.3;
	font-weight: 625;
}

h1,
.h1 {
	line-height: 1.1;
	font-family: var(--System);
	font-size: 4.5rem;
}

.no-js h1,
.fonts h1,
.no-js .h1,
.fonts .h1 {
	font-size: var(--sizev-900);
	font-family: var(--Font);
	letter-spacing: -0.01em;
	font-weight: 700;
}

.h2,
h2 {
	font-family: var(--Font);
	font-size: var(--sizev-800);
	font-weight: 400;
	letter-spacing: -2px;
}

.no-js h2,
.fonts h2,
.no-js .h2,
.fonts .h2 {
	font-weight: 450;
}

.h3,
h3 {
	font-size: var(--size-700);
}

h4,
.h4 {
	font-size: var(--size-500);
}

.sans-serif,
small,
a {
	font-family: var(--System);
}

.no-js a,
.loaded a {
	color: var(--text-color);
}

.flow > * {
	margin: 0;
}

.flow > * + * {
	margin-top: 0.5em;
}

.flow > small {
	display: inline-block;
	margin-inline-start: 0.75ch;
}

.work-links a {
	font-size: 1.5rem;
	text-decoration: none;
	border-bottom: 2px dashed transparent;
}

.work-links li:not([class])::before {
	content: '\00BB';
	font-size: 2rem;
	display: inline-block;
	margin-right: 0.5rem;
}

.work-links a + span + span {
	position: fixed !important;
	/* keep it on viewport */
	top: 0px !important;
	left: 0px !important;
	/* give it non-zero size, VoiceOver on Safari requires at least 2 pixels
	   before allowing buttons to be activated. */
	width: 4px !important;
	height: 4px !important;
	/* visually hide it with overflow and opacity */
	opacity: 0 !important;
	overflow: hidden !important;
	/* remove any margin or padding */
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	/* ensure no other style sets display to none */
	display: block !important;
	visibility: visible !important;
	pointer-events: none !important;
}

.work-links a:hover {
	border-bottom-color: currentColor;
}

.work-links a + span::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 36 36' data-icon='twemoji:link' data-width='1em' data-height='1em' data-inline='false' class='iconify' style='transform: rotate(360deg);'%3E%3Cpath fill='%238899A6' d='M15 9l6-6s6-6 12 0s0 12 0 12l-8 8s-6 6-12 0c-1.125-1.125-1.822-2.62-1.822-2.62l3.353-3.348S14.396 18.396 16 20c0 0 3 3 6 0l8-8s3-3 0-6s-6 0-6 0l-3.729 3.729s-1.854-1.521-5.646-.354L15 9z'%3E%3C/path%3E%3Cpath fill='%238899A6' d='M20.845 27l-6 6s-6 6-12 0s0-12 0-12l8-8s6-6 12 0c1.125 1.125 1.822 2.62 1.822 2.62l-3.354 3.349s.135-1.365-1.469-2.969c0 0-3-3-6 0l-8 8s-3 3 0 6s6 0 6 0l3.729-3.729s1.854 1.521 5.646.354l-.374.375z'%3E%3C/path%3E%3C/svg%3E");
	display: inline-block;
	margin-left: 0.5rem;
	opacity: 0;
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}

.loaded .work-links a + span::after {
	opacity: 1;
}

.work-links a:hover + span::after {
	transform: translateY(-0.5rem);
}
